<app-navbar></app-navbar>

<div class="section section-custom billinfo">

    <h2>Statastics</h2>

    <div class="pmd-card pmd-card-default pmd-z-depth" *ngIf="stats.length > 0">
        <div class="pmd-card-body">

            <div class="row">
                <label class="col-sm-3 control-label">
                    <b>Your Address:</b>
                </label>
                <div class="col-sm-9">
                    {{account}}
                </div>
            </div>

            <div class="row">
                <label class="col-sm-3 control-label">
                    <b>Total Balance:</b>
                </label>
                <div class="col-sm-9">
                    {{stats[0] / 1000000000000000000}} ETH
                </div>
            </div>

            <div class="row">
                <label class="col-sm-3 control-label">
                    <b>Total Subscriptions:</b>
                </label>
                <div class="col-sm-9">
                    {{stats[1]}}
                </div>
            </div>

        </div>
    </div>

</div>

<div class="section section-custom billinfo">

    <h2>Deposit / Withdraw ETH</h2>

    <div class="pmd-card pmd-z-depth">
        <div class="pmd-card-body">
            <form class="form-horizontal" role="form">

                <div class="form-group pmd-textfield">
                    <label class="col-sm-2 control-label">Amount:</label>
                    <div class="col-sm-10">
                        <input class="form-control" [(ngModel)]="ethAmount" [ngModelOptions]="{standalone: true}"
                            placeholder="Enter Amount in ETH">
                        <span class="pmd-textfield-focused"></span>
                    </div>
                </div>

                <div class="form-group purchase-btn">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" class="btn btn-primary pmd-checkbox-ripple-effect" (click)="depositETH()">Deposit
                            ETH</button>
                        <button type="button" class="btn btn-primary pmd-checkbox-ripple-effect" (click)="withdrawETH()">Withdraw
                            ETH</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

<div class="section section-custom billinfo">

    <h2>Your Subscriptions</h2>
    
    <h3 *ngIf="isLoading">Loading ...</h3>
    <div *ngIf="!isLoading" class="subscription-list"> 
        <div *ngFor="let subscription of userSubscriptionList" class="pmd-card pmd-card-default pmd-z-depth">
            <div class="pmd-card-title">
                <h2 class="pmd-card-title-text">{{subscription[1]}}</h2>
            </div>
            <div class="pmd-card-body">
                <li>Purchase Date: {{subscription[3] * 1000 | date:'medium'}}</li>
                <li *ngIf="subscription[2] == 0">State: Expired</li>
                <li *ngIf="subscription[2] == 1">State: Paused</li>
                <li *ngIf="subscription[2] == 2">State: Active</li>
                <li>Last Pause Date: {{subscription[4] == 0 ? '-' : subscription[4] * 1000 | date:'medium'}}</li>      
                <li>Total Usage: {{subscription[6][0] / 3600}} Hr</li>
                <li>Pause Duration: {{subscription[6][1] / 3600}} Hr</li>
                <li>Expires In: {{subscription[6][2] / 3600}} Hr</li>
                <!-- <li>Expires: {{ (today / 1000 + subscription[6][2]) * 1000 | date:'medium' }}</li> -->
                <li>Refund Amount: {{subscription[6][3] / 1000000000000000000}} ETH</li>
            </div>
            <div class="pmd-card-actions">
                <button *ngIf="subscription[2] == 2" type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-primary" (click)="pauseSubscription(subscription[0].toNumber())">Pause Subscription</button>
                <button *ngIf="subscription[2] == 1" type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-primary" (click)="resumeSubscription(subscription[0].toNumber())">Resume Subscription</button>
                <button *ngIf="subscription[2] == 0" type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-primary" (click)="renewSubscription(subscription[0].toNumber())">Renew Subscription</button>
            </div>
        </div>
    </div>

</div>