.section-custom {
  margin: 0 !important;
  max-width: 100% !important;
}

.subscription-list {
  display: flex;
  flex-wrap: wrap;
}

.subscription-list .pmd-card {
  width: 30%;
  margin: 0 10px 20px 10px;
}
