<app-navbar></app-navbar>

<div class="section section-custom billinfo">

  <h2>Available Subscriptions</h2>

  <div class="subscription-list">

    <div *ngFor="let subscription of subscriptionList" class="pmd-card pmd-card-default pmd-z-depth">
      <div class="pmd-card-title">
        <h2 class="pmd-card-title-text">{{subscription[0]}}</h2>
      </div>
      <div class="pmd-card-body">
        <li>Price: {{subscription[1] / 1000000000000000000}} ETH</li>
        <li>Validity: {{subscription[2] / 86400}} Days</li>
      </div>
      <div class="pmd-card-actions">
        <button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-primary" (click)="subscribe(subscription[3])">Purchase</button>
      </div>
    </div>
  </div>

</div>