<nav class="navbar navbar-inverse pmd-navbar pmd-z-depth">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>


      <a class="navbar-brand" href="/">
        Blockcurr Subscription
      </a>

    </div>

    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a [routerLink]="['/manage']">Manage</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="section section-custom billinfo" *ngIf="subscriptionList.length > 0">

  <h2>Available Subscriptions : {{subscriptionList.length}}</h2>

  <div class="subscription-list">

    <div *ngFor="let subscription of subscriptionList" class="pmd-card pmd-card-default pmd-z-depth">
      <div class="pmd-card-title">
        <h2 class="pmd-card-title-text">{{subscription[0]}}</h2>
      </div>
      <div class="pmd-card-body">
        <li>Price: {{subscription[1] / 1000000000000000000}} ETH</li>
        <li>Validity: {{subscription[2] / 86400}} Days</li>
      </div>
      <div class="pmd-card-actions">
        <button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-primary" (click)="onModifyClick(subscription)">Modify</button>
      </div>
    </div>
  </div>

</div>

<div *ngIf="!modify" class="section section-custom billinfo">

  <h2>Create Subscription</h2>

  <div class="pmd-card pmd-z-depth">
    <div class="pmd-card-body">
      <form class="form-horizontal" role="form">

        <div class="form-group pmd-textfield">
          <label class="col-sm-2 control-label">Name:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" [(ngModel)]="name" [ngModelOptions]="{standalone: true}"
              placeholder="Enter Subscription Name">
            <span class="pmd-textfield-focused"></span>
          </div>
        </div>

        <div class="form-group pmd-textfield">
          <label class="col-sm-2 control-label">Price:</label>
          <div class="col-sm-10">
            <input class="form-control" [(ngModel)]="price" [ngModelOptions]="{standalone: true}" placeholder="Enter Amount in ETH">
            <span class="pmd-textfield-focused"></span>
          </div>
        </div>

        <div class="form-group pmd-textfield">
          <label class="col-sm-2 control-label">Period:</label>
          <div class="col-sm-10">
            <input id="datetimepicker" type="text" class="form-control" [(ngModel)]="validity" [ngModelOptions]="{standalone: true}"
              placeholder="Enter validity period in days">
            <span class="pmd-textfield-focused"></span>
          </div>
        </div>


        <div class="form-group purchase-btn">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="button" class="btn btn-primary pmd-checkbox-ripple-effect" (click)="addSubscription()">Create
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>

<div *ngIf="modify" class="section section-custom billinfo">

  <h2>Modify Subscription</h2>

  <div class="pmd-card pmd-z-depth">
    <div class="pmd-card-body">
      <form class="form-horizontal" role="form">

        <div class="form-group pmd-textfield">
          <label class="col-sm-2 control-label">Name:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" [(ngModel)]="name" [ngModelOptions]="{standalone: true}"
              placeholder="Enter Subscription Name">
            <span class="pmd-textfield-focused"></span>
          </div>
        </div>

        <div class="form-group pmd-textfield">
          <label class="col-sm-2 control-label">Price:</label>
          <div class="col-sm-10">
            <input class="form-control" [(ngModel)]="price" [ngModelOptions]="{standalone: true}" placeholder="Enter Amount in ETH">
            <span class="pmd-textfield-focused"></span>
          </div>
        </div>

        <div class="form-group pmd-textfield">
          <label class="col-sm-2 control-label">Period:</label>
          <div class="col-sm-10">
            <input id="datetimepicker" type="text" class="form-control" [(ngModel)]="validity" [ngModelOptions]="{standalone: true}"
              placeholder="Enter validity period in days">
            <span class="pmd-textfield-focused"></span>
          </div>
        </div>


        <div class="form-group purchase-btn">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="button" class="btn btn-primary pmd-checkbox-ripple-effect" (click)="modifySubscription()">Modify
            </button>
            <button type="button" class="btn btn-primary pmd-checkbox-ripple-effect" (click)="oncancelModifyClick()">Cancel
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>