<nav class="navbar navbar-inverse pmd-navbar pmd-z-depth">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>


      <a class="navbar-brand" href="/">
        Blockcurr Subscription
      </a>

    </div>

    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a [routerLink]="['/dashboard']">Dashboard</a>
        </li>
        <li>
          <a [routerLink]="['/purchase']">Purchase</a>
        </li>
      </ul>
    </div>
  </div>
</nav>